<header>
  <button class="back-button" (click)="navigateHome()">
    <svg appBackArrowSvg />
  </button>

  <h1 class="title">{{list.name}}</h1>

  <button class="delete-button" (click)="deleteListDialog.showModal()">
    <svg appTrashCanSvg />
  </button>
</header>

<ul class="sections-list">
  <li *ngFor="let section of list.sections">
    <app-list-section [section]="section"></app-list-section>
  </li>
</ul>

<footer>
  <button (click)="cleanChecksDialog.showModal()"><svg appCheckListSvg /></button>
  <button><svg appChevronSvg /></button>
  <button><svg appPlusSvg /></button>
</footer>

<dialog class="dialog" #deleteListDialog>
  <div class="content">
    <p>¿Eliminar esta lista?</p>
    <p><strong>{{list.name}}</strong></p>

    <div class="buttons-wrapper">
      <button class="primary-button" (click)="deleteListDialog.close()">
        Mantener
      </button>
      <button class="secondary-button" (click)="deleteList()">
        Eliminar
      </button>
    </div>
  </div>
</dialog>

<dialog class="dialog" #cleanChecksDialog>
  <div class="content">
    <p>¿Limpiar todas las marcas?</p>

    <div class="buttons-wrapper">
      <button class="primary-button" (click)="cleanChecksDialog.close()">
        Cancelar
      </button>
      <button class="secondary-button" (click)="cleanChecks()">
        Limpiar
      </button>
    </div>
  </div>
</dialog>