:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 1rem;

  h1.title {
    text-align: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;

    &.back-button {
      width: 20px;
      height: 20px;
    }

    &.delete-button {
      width: 25px;
      height: 25px;
      stroke: red;
      fill: red;
    }
  }
}
