<header>
  <button class="back-button" (click)="navigateHome()">
    <svg appBackArrowSvg />
  </button>

  <h1 class="title">{{list.name}}</h1>

  <button class="delete-button" (click)="deleteListDialog.showModal()">
    <svg appTrashCanSvg />
  </button>
</header>

<ul class="sections-list">
  <li *ngFor="let section of list.sections">
    <app-list-section [section]="section"></app-list-section>
  </li>
</ul>

<dialog class="delete-list-dialog" #deleteListDialog>
  <div class="content">
    <p>¿Eliminar esta lista?</p>
    <p><strong>{{list.name}}</strong></p>

    <div class="buttons-wrapper">
      <button class="keep" (click)="deleteListDialog.close()">
        Mantener
      </button>
      <button class="delete" (click)="deleteList()">
        Eliminar
      </button>
    </div>
  </div>
</dialog>