@import "../shared/header";
@import "../shared/dialog";

:host {
  --padding: 15px;
  
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

ul {
  flex-grow: 1;
  overflow: auto;
  padding: var(--padding);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--padding);

  li {
    list-style: none;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--padding);
      padding: var(--padding);
      text-decoration: none;
      color: black;
      border: 1px solid #a1a3a5;
      border-radius: 6px;

      .list-name {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }

      .progress {
        flex-shrink: 0;
        font-weight: bold;
        color: var(--color-text);
        font-size: 0.9rem;
      }
    }
  }
}

.dialog .content {
  input {
    padding: 3px 7px;
    text-align: center;
    border-radius: 4px;
  }

  div.error-message {
    margin-top: 5px;
    font-size: 1rem;
    color: red;
  }
}
