<app-collapsible [isOpen]="section.isExpanded">
  <h2 class="header">
    <input type="text" placeholder="Nombre de la sección" class="header__name" [value]="section.name"
      (input)="updateSectionName($event)">

    <span class="header__progress">
      <span>{{numberOfCompletedItems}}</span>/<span>{{section.items.length}}</span>
    </span>

    <svg appTrashCanSvg class="header__trash-can" (click)="deleteSectionDialog.showModal()"></svg>

    <svg class="header__arrow" [ngClass]="{'header__arrow--expanded': section.isExpanded}" appChevronSvg
      (click)="toggleSection()" />
  </h2>

  <div class="collapsible" appCollapsibleContent>
    <ul class="items-container" cdkDropList (cdkDropListDropped)="onOrderItems($event)" #boundary>
      <li *ngFor="let item of section.items" class="list-item" cdkDrag cdkDragLockAxis="y"
        cdkDragPreviewContainer="parent" [cdkDragStartDelay]="100" [cdkDragBoundary]="boundary">
        <app-list-item [list]="list" [section]="section" [item]="item"></app-list-item>
      </li>
    </ul>

    <button class="add-item" (click)="addNewItem()">Añadir ítem</button>
  </div>
</app-collapsible>

<dialog class="dialog" #deleteSectionDialog>
  <div class="content">
    <p>¿Eliminar esta sección?</p>

    <strong>{{this.section.name}}</strong>

    <div class="buttons-wrapper">
      <button class="primary-button" (click)="deleteSectionDialog.close()">
        Mantener
      </button>
      <button class="secondary-button" (click)="deleteSection()">
        Eliminar
      </button>
    </div>
  </div>
</dialog>