<h2 class="header">
  <input type="text" placeholder="Nombre de la sección" class="header__name" [value]="section.name"
    (input)="updateSectionName($event)">

  <span class="header__progress">
    <span>{{numberOfCompletedItems}}</span>/<span>{{section.items.length}}</span>
  </span>

  <svg class="header__arrow" width="15" viewBox="-10 -10 350 350">
    <path stroke-width="20" stroke="black"
      d="M326 79c-6-5-16-5-22 0L165 219 26 79a15 15 0 0 0-22 22l150 150a15 15 0 0 0 22 0l150-150c5-6 5-16 0-22z" />
  </svg>
</h2>

<div class="collapsible">
  <ul class="items-container">
    <li *ngFor="let item of section.items" class="list-item">
      <app-list-item [item]="item"></app-list-item>
    </li>
  </ul>

  <button class="add-item" (click)="addNewItem()">Añadir ítem</button>
</div>