<h2 class="header">
  <input type="text" placeholder="Nombre de la sección" class="header__name" [value]="section.name"
    (input)="updateSectionName($event)">

  <span class="header__progress">
    <span>{{numberOfCompletedItems}}</span>/<span>{{section.items.length}}</span>
  </span>

  <svg class="header__arrow" appChevronSvg />
</h2>

<div class="collapsible">
  <ul class="items-container">
    <li *ngFor="let item of section.items" class="list-item">
      <app-list-item [item]="item"></app-list-item>
    </li>
  </ul>

  <button class="add-item" (click)="addNewItem()">Añadir ítem</button>
</div>